<nav class="navbar navbar-expand-md sticky-top bg-light border-bottom border-dark px-2">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navbarNav" aria-controls="navbarNav" 
          aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav px-3">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ transform.Emojify ":globe_with_meridians:" }}
        </a>
        <ul class="dropdown-menu">
          {{- $langEmojis := dict 
            "en-GB" ":uk:"
            "pt-BR" ":brazil:"
            "de-DE" ":de:"
            "fr-FR" ":fr:"
          -}}
          {{- range .Site.Home.AllTranslations }}
          <li><a class="dropdown-item" href="{{ .RelPermalink }}" hreflang="{{ .Language.LanguageCode }}">
            {{.Language.LanguageName}} 
            {{ transform.Emojify (index $langEmojis .Language.LanguageCode) }}
          </a></li>
          {{- end }}
        </ul>
      </li>
      {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .PageRef }}"> {{ .Name }} </a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>