<section id="links">
  <h3> Links </h3>
  <hr> 

  <ul id="link-list">
    {{ $langId := .Site.Language.Lang }}
    {{ $baseUrl := .Site.BaseURL }}
    {{ range .Site.Data.links }}
    <li class="update-item">
      {{ if hasPrefix .url "/" }}
        {{ $url := (print $baseUrl (strings.TrimLeft "/" .url)) }}
        <a target="_blank" href="{{ $url }}">
          {{ or (index .description $langId) (index .description "fr") }}
        </a>
      {{ else }}
        <a target="_blank" href="{{ .url }}">
          {{ or (index .description $langId) (index .description "fr") }}
        </a>
      {{ end }}
      
    </li>
    {{ end }}
  </ul>
</section>