<!DOCTYPE html>
<html>
  <head>
    <title>Mdm XXXXX, translator</title>
    {{ partial "tags/css-tags.html" . }}
  </head>
  <body>
    <main>
      {{ partial "navbar.html" . }}
      <div class="container-fluid p-0">
        {{ partial "sections/hero.html" . }}
      </div>
      <div class="container-sm">
        {{ partial (printf "sections/profile-info/%s.html" .Site.Language.Lang) . }}
        <hr/>
        {{ partial (printf "sections/services/%s.html" .Site.Language.Lang) . }}
        {{ partial (printf "sections/contact-form/%s.html" .Site.Language.Lang) . }}
        {{ partial (printf "sections/location/%s.html" .Site.Language.Lang) . }}
        {{ partial (printf "sections/past-works/%s.html" .Site.Language.Lang) . }}
      </div>
    </main>
  </body>

  {{ partial "tags/javascript-tags.html" . }}
</html>