<!DOCTYPE html>
<html>
  <head>
    <title>Mdm XXXXX, translator</title>
    {{ partial "tags/css-tags.html" . }}
  </head>
  <body>
    <main>
      {{ partial "navbar.html" . }}
      <div class="container-fluid p-0">
        {{ partial "sections/hero.html" . }}
      </div>
      <div class="container-sm">
        {{ partial "sections/profile-info.html" . }}
        <hr/>
        {{ partial "sections/services.html" . }}
        {{ partial "sections/contact-form.html" . }}
        {{ partial "sections/location.html" . }}
        {{ partial "sections/past-works.html" . }}
      </div>
    </main>
  </body>

  {{ partial "tags/javascript-tags.html" . }}
</html>