<!DOCTYPE html>
<html>
  <head>
    <title>Mdm XXXXX, translator</title>
    {{ partial "css-tags.html" . }}
  </head>
  <body>
    <main>
      {{ partial "navbar.html" . }}
      <div class="container-fluid p-0">
        {{ partial "hero.html" . }}
      </div>
      <div class="container-sm">
        {{ partial "profile-info.html" . }}
        <hr/>
        {{ partial "services.html" . }}
        {{ partial "contact-form.html" . }}
        {{ partial "location.html" . }}
        {{ partial "past-works.html" . }}
      </div>
    </main>
  </body>

  {{ partial "javascript-tags.html" . }}
</html>