{{ with resources.Get "sass/main.scss" -}}
  {{- $optionsCss := dict 
      "enableSourceMap" "true"
      "outputStyle" "compressed"
      "transpiler" "dartsass" 
      "targetPath" "css/main.css"
  -}}
  {{- with . | toCSS $optionsCss | fingerprint -}}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
  {{- end -}}
{{- end }}

{{ with resources.Get "css/bg-images.css" }}
  {{- $optionsCss := dict 
      "enableSourceMap" "true"
      "outputStyle" "compressed"
      "transpiler" "dartsass" 
      "targetPath" "css/bg-images.css"
  -}}
  {{ with resources.ExecuteAsTemplate "css/bg-images.css" $ . | toCSS $optionsCss | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
  {{ end }}
{{ end }}